@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
  box-sizing: border-box;
  margin:0;
  padding:0;
  font-family: 'Roboto', sans-serif;
}

.card{
  margin-top: 300px;
  background-color: #212529;
  color:#fff
}

.img-fluid{
  margin: 30px;
  width:400px;
  height: 400px;
}

