@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
  box-sizing: border-box;
  margin:0;
  padding:0;
  font-family: 'Roboto', sans-serif;
}
body{
  background-color: antiquewhite;
}

.card{
  margin-top: 200px;
  background-color: #212529;
  color:#fff
}

.img-fluid{
  margin: 30px;
  width:400px;
  height: 400px;
}

.simple-card{
  height: 600px ;
}
.simple-card-content{
  height:150px
}

#works{
  margin-top: 300px;
}

.yorumlar{
  background-color: #212529;
  padding:50px;
}

.iletişim{
  background-color: #212529;
}



